/* .overview-section */
.overview-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1140px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.02em;
}

  .overview-container {

  }

.overview-left,
.overview-right {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.overview-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.overview-title {
  font-size: 45px;
  font-weight: 700;
  color: #683480;
  line-height: 1.5;
}

.overview-arrow {
  background: rgba(54, 54, 120, 0.14);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.overview-description {
  color: rgb(113, 113, 112);
  margin-top: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.50rem;
}

.overview-facts {
  display: flex;
  justify-content: center;
}

.facts-flex {
  display: flex;
  margin-bottom: 10px;
}

.fact-item {
  text-align: center;
  margin: 10px 35px;
}

.fact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* Large image (250px x 250px) */
.large-image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.large-image:hover {
 
  box-shadow: 2px 5px 15px #683480; /* Optional shadow for effect */
  transform: scale(1.05); /* Slight scaling effect on hover */
}

/* Smaller icon image (used in the fact details) */
.fact-icon {
  display: none;
}

/* Label text style */
.fact-label {
  font-size: 16px;
  color: rgb(113, 113, 112);
}
